{% extends "base.html" %}
{% block content %}
<style >
body{
  background-color: red;
  background-image: url("http://www.gstatic.com/webp/gallery/1.jpg");
}
h1{
  background-color: red;
  background-image: url("http://www.gstatic.com/webp/gallery/1.jpg");
}
h2{
  background-color: red;
  background-image: url("http://www.gstatic.com/webp/gallery/1.jpg");
}
h3{
  background-color: red;
  background-image: url("http://www.gstatic.com/webp/gallery/1.jpg");
}
h4{
  background-color: red;
  background-image: url("http://www.gstatic.com/webp/gallery/1.jpg");
}
h5{
  background-color: red;
  background-image: url("http://www.gstatic.com/webp/gallery/1.jpg");
}
p{
  background-color: red;
  background-image: url("http://www.gstatic.com/webp/gallery/1.jpg");
}
    <h1>  Welcome ! {{ user.first_name }} {{user.last_name}}</h1>
    <h2> webamil : {{ user }}

{% endblock %}
